.header {
    height: 242px;
    border: 1px solid red;

}

/* 头部设置  */
.h-header {
    height: 35px;
    background: #E3E4E5;

}

.h-header .hh-dv {
    width: 1345px;
    height: 35px;
    border: 1px solid red;
    margin: 0px auto;
}




/* 黑线块代码 */
.m-line {
    height: 42px;
    background: #333333;
    text-align: center;

}

.m-line .ml-dv {
    display: inline-block;
    margin: auto;

}

.ml-dv1 {
    width: 181px;
    height: 42px;
}

.ml1-mg1 {
    position: relative;
    top: -32px;
    left: 70px;
}

.ml1-dv3 {
    height: 42px;
    line-height: 40px;
    padding: 0px 8px;
}

.m-line .ml-dv .ml-dv1>a {
    display: block;
    color: white;
    font-size: 16px;
}

.m-line .ml-dv1 {
    background: #D11E35;
}

.ml-dv1 {
    float: left;
}

.m-line .ml-dv2 {
    float: right;
}

.m-line .ml-dv2 li {
    display: inline-block;
}

.m-line .ml-dv2 li>a {
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    height: 42px;
    line-height: 40px;
    padding: 0px 8px;

}

.m-line .ml-dv2 li>a:hover {
    background: #D11E35;

}

/* 灰线块代码 */
.ml2-dv {
    height: 45px;
    background: #F2F2F2;
    border: 1px solid red;
}

.ml2d-dv {
    height: 45px;
    width: 1230px;
    margin: 0px auto;
    border: 1px solid red;
}

.ml2-dv .ml2d-dv1 {
    float: left;

}

.ml2d-dv1 li {
    display: inline-block;
}

.ml2d-dv1 li>a {
    display: block;
    color: rgb(109, 108, 108);
    font-size: 14px;
    text-decoration: none;
    height: 45px;
    line-height: 40px;
    padding: 0px 8px;
}

.ml2d-dv1 li>a:hover {
    color: red;
}

.ml2d-dv2 {
    float: right;

}

.ml2d-dv2 li {
    display: inline-block;

}

.ml2d-dv2 li>a {
    display: block;
    color: rgb(109, 108, 108);
    font-size: 14px;
    text-decoration: none;
    height: 45px;
    line-height: 40px;
    padding: 0px 5px;
}

.ml2d-dv2 .img1 {
    vertical-align: middle;

}

.ml2d-dv2 .img2 {
    vertical-align: middle;
}

.ml2d-dv2 .img3 {
    vertical-align: middle;
}

.ml2d-dv2 li>a:hover {
    color: red;
}