.header {
    height: 242px;
    border: 1px solid red;

}

/* 头部灰色左浮 */
.hh-dv {
    background: #e3e4e5;
    color: #999;
}

.hh-f1 {
    float: left;
}

.hh-dv .hh-f1 li {
    display: inline;
    margin: 0px auto;
    line-height: 40px;
}

.hh-dv li>img {
    vertical-align: -5px;
}

.hh-dv .hh-f1 li>a {
    color: rgb(134, 133, 138);
}

.hh-dv .hh-f1 li>a:hover {
    color: red;
}

/* 头部灰色右浮 */
.hh-f2 {
    float: right;
}

.hh-dv .hh-f2 li {
    display: inline;
    margin: 0px auto;
    line-height: 40px;
    padding: 0px 1px;
    margin-left: 3px;
}

.hh-dv .hh-f2 li>a {
    color: rgb(134, 133, 138);
}

.hhf-d {
    color: red;
}

.hh-dv .hh-f2 li>a:hover {
    color: red;
}


.hh-f2 .hh-line {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ccc;
    overflow: hidden;
}

/* 手机京东下拉框 */



/* 头部设置  */
.h-header {
    height: 35px;
    background: #E3E4E5;
}

.h-header .hh-dv {
    width: 1345px;
    height: 35px;
    border: 1px solid red;
    margin: 0px auto;
}

/* 头部中间 */
.hm-dv {
    width: 1345px;
    height: 95px;
    border: 1px solid red;
    margin: 0px auto;

}

.hmd1-l {
    border: 1px solid #CCCCCC;
    font-size: 14px;
    width: 75px;
    height: 27px;
    margin-left: 50px;
}

.hmd-dv1 {
    position: relative;
    top: 0px;
    left: -135px;
    float: left;
    width: 362px;
    height: 55px;
    padding: 20px 0;
    border: 1px solid red;
}

.hmd-dv1 li {
    display: inline-block;
    vertical-align: middle;
}

/* 头部中间输入框 */
.hmd-dv2 {
    margin: 0px auto;
}

.hmd2-t {
    float: left;
    width: 370px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-top: 27px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}

/* 搜全站编辑 */
.hmd-dv2 .button {
    width: auto;
    padding: 0 8px;
    font: 12px simsun;
    overflow: visible;

}

.hmd2-b {
    position: relative;
    top: 27px;
    float: left;
    width: 52px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 2;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    cursor: pointer;
}

.hmd2-b2 {
    position: relative;
    top: 27px;
    float: left;
    width: 52px;
    height: 36px;
    background: #474E5C;
    border: none;
    line-height: 2;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    cursor: pointer;
}

/* 我的购物车 */
.hmd-dv3 {
    float: right;
    width: 75px;
    height: 35px;
    border: 1px solid rgb(167, 167, 167);
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    position: relative;
    top: 8px;
    left: -135px;

}

.hmd-dv3 li {
    float: left;

}

.hmd3-d1 {
    position: absolute;
    top: 2px;
    left: 7px;
}

.hmd3-d3 {
    position: absolute;
    top: 0px;
    left: 119px;
}

.hmd3-d4 {
    position: absolute;
    top: -5px;
    left: 101px;
}

.hmd3-d2 a {
    color: #666;
}

.hmd3-d2 a:hover {
    color: red;
}

/* 搜索框下方 */
.hmd-dv4 {

    margin: 0px auto;
    width: 370px;
    height: 24px;

}

.hmd-dv4 a {
    color: #666;
    font-size: 10px;
    height: 24px;
    margin-right: 4px;
}

.hmd-dv4 a:hover {
    color: red;
}

/* 头部尾巴 */
.h-foot {
    margin: 0px auto;
}

.hf-d1 {
    width: 1190px;
    height: 110px;
    margin: 0px auto;
    border: 1px solid red;
}

.hf-d1 img {
    margin: 0px auto;
    vertical-align: middle;


}

/* 身体部分 */
/* 黑线块代码 */
.m-line {
    height: 42px;
    background: #333333;
    text-align: center;

}

.m-line .ml-dv {
    display: inline-block;
    margin: auto;

}

.ml-dv1 {
    width: 181px;
    height: 42px;
}

.ml1-mg1 {
    position: relative;
    top: -32px;
    left: 70px;
}

.ml1-dv3 {
    height: 42px;
    line-height: 40px;
    padding: 0px 8px;
}

.m-line .ml-dv .ml-dv1>a {
    display: block;
    color: white;
    font-size: 16px;
}

.m-line .ml-dv1 {
    background: #D11E35;
}

.ml-dv1 {
    float: left;

}


.mld2-dv1 {
    float: left;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border: 1px solid red;
    padding: 0 10.5px 0;

}

.ml-dv2 {
    width: 1100px;
    border: 1px solid red;
}

.mld2-dv1>a {
    color: white;
    text-decoration: none;
}

.mld2-dv1:hover {
    background: #D11E35;

}

/* 灰线块代码 */
.ml2-dv {
    height: 45px;
    background: #F2F2F2;
    border: 1px solid red;
}

.ml2d-dv {
    height: 45px;
    width: 1230px;
    margin: 0px auto;
    border: 1px solid red;
}

.ml2-dv .ml2d-dv1 {
    float: left;

}

.ml2d-dv1 li {
    display: inline-block;
}

.ml2d-dv1 li>a {
    display: block;
    color: rgb(109, 108, 108);
    font-size: 14px;
    text-decoration: none;
    height: 45px;
    line-height: 40px;
    padding: 0px 8px;
}

.ml2d-dv1 li>a:hover {
    color: red;
}

.ml2d-dv2 {
    float: right;

}

.ml2d-dv2 li {
    display: inline-block;

}

.ml2d-dv2 li>a {
    display: block;
    color: rgb(109, 108, 108);
    font-size: 14px;
    text-decoration: none;
    height: 45px;
    line-height: 48px;
    padding: 0px 5px;
}

.ml2d-dv2 li>img {
    vertical-align: -3px;

}


.ml2d-dv2 li>a:hover {
    color: red;
}

/* 身体主题--手机信息部分 */
.m-main .mm-dv1 {
    width: 1225px;
    height: 830px;
    margin: 0px auto;
    border: 1px solid red;


}

.mm-dv1>div {
    float: left;
}

.mmd-dv1 {
    width: 455px;
    height: 570px;
    border: 1px solid red;
    margin-top: 14px;
}

.mmd-dv2 {
    margin-top: 14px;
    margin-left: 21px;
    width: 740px;
    height: 810px;
    text-align: left;
    border: 1px solid red;
}

/* 手机放大镜 */
.mmd1-dv1 {
    width: 450px;
    height: 450px;
    border: red;
    border: 1px solid rgb(190, 190, 190);
    margin: 0px auto;
    position: relative;
}

.mmd1-dv1 i {
    width: 31px;
    height: 31px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("./images/17ss.png") no-repeat;
}

/* 放大镜列表元素 */
.mmd1-dv2 {
    width: 450px;
    margin: auto;
    margin-top: 10px;

}

.mmd12-d1 {
    float: left;
    width: 22px;
    height: 31px;
    margin-top: 13px;
    background: url("./images/18you.png") 101px -54px;
}

.mmd12-d2 {
    float: right;
    width: 22px;
    height: 31px;
    margin-top: 13px;
    background: url("./images/18you.png") -78px -85px;

}

.mmd12-d3 li {
    display: inline-block;
    margin: 5px;
    width: 58px;
    height: 58px;

}

.mmd12-d3 li:hover {
    border: 2px solid red;
}

/* 关注分享对比 */
.mmd1-dv3 {
    float: left;
    height: 40px;

}

.mmd1-dv3>a>em {
    text-decoration: none;
    color: #666666;
    font-size: 10px;
    font-style: normal;
}

.mmd1-dv3>a>em:hover {
    color: red;

}

.mmd1-dv3>a>img {
    vertical-align: -7px;
}

.mmd1-dv32 {
    float: right;
}

.mmd1-dv32 a {
    text-decoration: none;
    color: #666666;
    font-size: 10px;

}

.mmd1-dv32 a:hover {
    color: red;
}

/* 价格详情 */
.mmd2-h1 p {
    font: 700 16px Arial, "microsoft yahei";
    color: #666;
    padding-top: 10px;
    line-height: 28px;
    margin: left;
    border: 1px solid red;

}

.mmd2-h2 {

    margin-top: 5px;

}

.mmd2-h2 p {
    color: red;
    font-size: 10px;
}

.mmd2-h2 a {
    text-decoration: underline;
}

.mmd2-h2 a :hover {
    color: red;
}

.mmd-h3 {
    height: 32px;
    width: 740px;
    margin-top: 5px;
    background: url("./images/21-hong.png") no-repeat #e84540;
    color: white;
}

.mmdh3-1 {
    float: left;
    font-size: 16px;
    margin-top: 5px;
}

.mmdh3-1 .mmdh3-1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./images/22nz.png) -20px 0px;
    margin: 2px 4px 2px 8px;
    vertical-align: -4px;

}

.mmdh3-2 {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    font-family: "Microsoft YaHei";
    margin-right: 10px;
}

.mmdh3-2 span {
    display: inline-block;
    width: 24px;
    height: 22px;
    background: #443B3B;
    color: #FFF;
    margin-top: 2px;
    text-align: center;
    vertical-align: 2px;
}

.mmd-dv4 {
    padding: 10px 0px;
    background: #f3f3f3;
}

.mmdh4-p1 {
    position: relative;
    margin-bottom: 5px;
    line-height: 22px;

}

.mmd-h4 .mmdh4-p1>div {
    float: left;

}

.mmdh4p-dv1 {
    display: inline-block;
    padding-left: 10px;
    font-family: simsun;
    color: #999
}

.mmdh4p-dv2 {
    color: #B61D1D;
    font-size: 18px;
}

.mmdh4p-dv3 span {
    color: #999;
    font-size: 12px;
}

.mmdh4p-dv4 {

    font-size: 12px;
}

.mmdh4-p2>div {
    float: right;
    text-align: center;
}

.mmdh4p2-dv {
    border-left: 1px solid #e6e6e6;
    padding: 0px 10px;
}