/*é‡ç½®æ ·å¼æ–‡ä»¶; å¯æ‰©å±•çš„ï¼*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

/* è®¾ç½®æ•´ä¸ªç½‘ç«™çš„å­—ä½“é£Žæ ¼ */
body {
    background: #fff;
    color: #333;
    font-size: 12px;
    /* font-family: "SimSun", "å®‹ä½“", "Arial Narrow"; */
    font-family: "å¾®è½¯é›…é»‘";
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #c00;
}

/* è®¾ç½®è¡¨æ ¼è¾¹æ¡†ä¸€åƒç´  */
table {
    border-collapse: collapse;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
}

/* å–æ¶ˆæµè§ˆå™¨è‡ªå¸¦çš„é»˜è®¤æ ·å¼ */
input,
button,
select,
textarea {
    outline: none
}

/* æ¸…æµ®åŠ¨åŠŸèƒ½ */
.clearfix:after {
    content: " ";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}